{% extends 'base.html' %} 

{% block content %}
<div class="d-flex flex-column mb-3">
  <div class="container mt-5">
    <h1>Interviewer Said:</h1>
    {% if ai_response %}
    <audio controls class="mt-3">
      <source src="data:audio/wav;base64,{{ ai_response }}" type="audio/wav" />
      Your browser does not support the audio element.
    </audio>
    {% elif ai_response_message %}
    <div class="mt-3">
      <h3>{{ ai_response_message }}</h3>
    </div>
    {% endif %}
  </div>
  <div class="container mt-5">
    <h1>Record your response:</h1>

    <!-- RECORD BUTTONS -->
    <div class="d-flex justify-content-left mt-3">
      <button id="record-button" class="btn btn-primary btn-lg" type="button">
        <i class="bi bi-mic"></i> Record
      </button>
      <button
        id="stop-button"
        style="display: none"
        class="btn btn-danger btn-lg"
        type="button"
      >
        <i class="bi bi-stop-fill"></i> Stop
      </button>
    </div>

    <!--RESPONSE PLAYER -->
    <div
      id="response_player"
      style="display: none !important"
      class="flex-column mt-3"
    >
      <div class="bd-callout bd-callout-info">
        <strong>Feel free to re-record </strong>if you are not satisfied with
        your response.
      </div>
      <audio id="player" controls></audio>
      <input type="hidden" id="user_response" name="user_response" />
      <!-- SEND BUTTON -->
      <button
        class="btn btn-success btn-lg mt-3"
        style="width: min-content"
        type="submit"
      >
        <i class="bi bi-send"></i> Send
      </button>
    </div>
  </div>
  <script>
    const player = document.getElementById("player");
    const recordButton = document.getElementById("record-button");
    const stopButton = document.getElementById("stop-button");
    const audioDataInput = document.getElementById("user_response");
    const responsePlayer = document.getElementById("response_player");

    const handleSuccess = function (stream) {
      const options = { mimeType: "audio/webm" };
      let recordedChunks = [];
      const mediaRecorder = new MediaRecorder(stream, options);

      mediaRecorder.addEventListener("dataavailable", function (e) {
        if (e.data.size > 0) {
          recordedChunks.push(e.data);
        }
      });

      mediaRecorder.addEventListener("stop", function () {
        const audioBlob = new Blob(recordedChunks, { type: "audio/webm" });

        // Convert audio Blob to Base64
        const reader = new FileReader();
        reader.onload = function () {
          const audioBase64 = reader.result.split(",")[1]; // Extract the Base64 data
          audioDataInput.value = audioBase64;
        };
        reader.readAsDataURL(audioBlob);
        player.src = URL.createObjectURL(audioBlob);
      });

      recordButton.addEventListener("click", function () {
        // Start recording
        recordedChunks = [];
        mediaRecorder.start();
        stopButton.style.display = "block";
        recordButton.style.display = "none";
        responsePlayer.style.display = "none";
      });

      stopButton.addEventListener("click", function () {
        // Stop recording
        mediaRecorder.stop();
        stopButton.style.display = "none";
        recordButton.style.display = "block";
        responsePlayer.style.display = "flex";
      });
    };

    navigator.mediaDevices
      .getUserMedia({ audio: true, video: false })
      .then(handleSuccess);
  </script>
</div>
{% endblock %}
